<div *ngIf="form; else loadingDisplay">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}" class="form-control">
            <label for="title">Post Title:</label>
            <input type="text" id="title" formControlName="title">
            <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="validation">
                <small *ngIf="form.get('email')?.hasError('required')">
                    Title is required field
                </small>
            </div>
        </div>

        <div class="form-control">
            <quill-editor formControlName="text"></quill-editor>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="form.invalid || isSubmited">Save Changes</button>

    </form>
</div>


<ng-template #loadingDisplay>
    <p> Loading ... </p>
</ng-template>