<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter to Admin Panel</h2>

    <div class="alert alert-danger" *ngIf="authService.error$ | async as er"> {{er}} </div>


    <div [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}" class="form-control">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
            <small *ngIf="form.get('email')?.hasError('required')">
                Email is required field
            </small>

            <small *ngIf="form.get('email')?.hasError('email')">
                Invalid Email
            </small>

        </div>
    </div>

    <div [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}" class="form-control">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
            <small *ngIf="form.get('password')?.hasError('required')">
                Password is required field
            </small>

            <small *ngIf="form.get('password')?.hasError('minlength')">
                Min Length is 6
            </small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || isSubmited"> Enter </button>
</form>